<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 id="title">hello webpack</h1>
    <div class="box1"></div>
    <div class="box2"></div>
    <div class="box3"></div>
    <img src="../assets/img/logo.png" alt="">
    <span class="iconfont icon-bluetoothon"></span>
    <span class="iconfont icon-camera"></span>
    <span class="iconfont icon-course"></span>
</body>
</html>